
/* Nine | The CSS Framework (https://github.com/nuzzesick/nine-css)
Made with love by Matías Nuccetelli (https://nuzze.now.sh) in Argentina. */


html, body {
  margin: 0;
  padding: 0;

  /* Font family */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  /* Colors */
  --transparent: transparent;
  --white: #FFFFFF;
  --gray-100: #F0F0F0;
  --gray-200: #DADADA;
  --gray-300: #C2C2C2;
  --gray-400: #A8A8A8;
  --gray-500: #858585;
  --gray: var(--gray-500);
  --gray-600: #6A6A6A;
  --gray-700: #4D4D4D;
  --gray-800: #363636;
  --gray-900: #202020;
  --black: #0E0E0E;
  --red-100: #FFCACA;
  --red-200: #FF9090;
  --red-300: #FD7575;
  --red-400: #F95A5A;
  --red-500: #EC4141;
  --red: var(--red-500);
  --red-600: #D02525;
  --red-700: #AE1C1C;
  --red-800: #851111;
  --red-900: #4F0707;
  --orange-100: #FFDDCA;
  --orange-200: #FFC09D;
  --orange-300: #FFAC7D;
  --orange-400: #F49058;
  --orange-500: #E5793C;
  --orange: var(--orange-500);
  --orange-600: #CA6125;
  --orange-700: #B14E17;
  --orange-800: #8A380B;
  --orange-900: #672804;
  --yellow-100: #FFFACA;
  --yellow-200: #FFF6A4;
  --yellow-300: #FFF27B;
  --yellow-400: #F4E557;
  --yellow-500: #E4D434;
  --yellow: var(--yellow);
  --yellow-600: #C8B921;
  --yellow-700: #B0A319;
  --yellow-800: #938710;
  --yellow-900: #665E08;
  --gren-100: #D1FFCA;
  --gren-200: #A6FF98;
  --gren-300: #89FF77;
  --gren-400: #63F24E;
  --gren-500: #4CDD36;
  --gren: var(--green-500);
  --gren-600: #36C220;
  --gren-700: #2AA616;
  --gren-800: #1D880C;
  --gren-900: #126504;
  --blue-100: #CAE2FF;
  --blue-200: #A5CEFF;
  --blue-300: #7CB7FF;
  --blue-400: #56A0FB;
  --blue-500: #4593F1;
  --blue: var(--blue-500);
  --blue-600: #2D7CDC;
  --blue-700: #1F66BC;
  --blue-800: #104E98;
  --blue-900: #0A3972;
  --purple-100: #DBCAFF;
  --purple-200: #BE9FFF;
  --purple-300: #A57BFF;
  --purple-400: #915EFF;
  --purple-500: #7D47F0;
  --purple: var(--purple-500);
  --purple-600: #6C36DD;
  --purple-700: #5624BF;
  --purple-800: #4011A3;
  --purple-900: #300A80;
  --pink-100: #F8CAFF;
  --pink-200: #F3A9FF;
  --pink-300: #EE88FF;
  --pink-400: #E461FA;
  --pink-500: #D346EB;
  --pink: var(--pink-500);
  --pink-600: #C130D9;
  --pink-700: #A61FBD;
  --pink-800: #820F95;
  --pink-900: #5D066B;

  /* Gradients */

  --hor-red: linear-gradient(90deg, var(-red-400) 31.77%, var(--red-500) 100%);

  --vert-red: linear-gradient(180deg, var(--red-400) 31.77%, var(--red-500) 100%);


  --hor-ro: linear-gradient(90deg, var(--red-400) 31.77%, var(--orange-400) 100%);

  --vert-ro: linear-gradient(180deg, var(--red-400) 31.77%, var(--orange-400) 100%);


  --hor-rp: linear-gradient(90deg, var(--red-400) 31.77%, var(--purple-300) 100%);

  --vert-rp: linear-gradient(180deg, var(--red-400) 31.77%, var(--purple-300) 100%);


  --hor-orange: linear-gradient(90deg, var(--orange-400) 31.77%, var(--orange-500) 100%);

  --vert-orange: linear-gradient(180deg, var(--orange-400) 31.77%, var(--orange-500) 100%);


  --hor-or: linear-gradient(90deg, var(--orange-400) 31.77%, var(--red-400) 100%);

  --vert-or: linear-gradient(180deg, var(--orange-400) 31.77%, var(--red-400) 100%);


  --hor-green: linear-gradient(90deg, var(--green-400) 31.77%, var(--green-500) 100%);

  --vert-green: linear-gradient(180deg, var(--green-400) 31.77%, var(--green-500) 100%);


  --hor-gb: linear-gradient(90deg, var(--green-500) 31.77%, var(--blue-400) 100%);

  --vert-gb: linear-gradient(180deg, var(--green-500) 31.77%, var(--blue-400) 100%);


  --hor-blue: linear-gradient(90deg, var(--blue-400) 31.77%, var(--blue-500) 100%);

  --vert-blue: linear-gradient(180deg, var(--blue-400) 31.77%, var(--blue-500) 100%);


  --hor-bg: linear-gradient(90deg, var(--blue-500) 31.77%, var(--green-400) 100%);

  --vert-bg: linear-gradient(180deg, var(--blue-500) 31.77%, var(--green-400) 100%);


  --hor-bp: linear-gradient(90deg, var(--blue-500) 31.77%, var(--purple-300) 100%);

  --vert-bp: linear-gradient(180deg, var(--blue-500) 31.77%, var(--purple-300) 100%);


  --hor-purple: linear-gradient(90deg, var(--purple-400) 31.77%, var(--purple-500) 100%);

  --vert-purple: linear-gradient(180deg, var(--purple-400) 31.77%, var(--purple-500) 100%);


  --hor-pr: linear-gradient(90deg, var(--purple-500) 31.77%, var(--red-400) 100%);

  --vert-pr: linear-gradient(180deg, var(--purple-500) 31.77%, var(--red-400) 100%);


  --hor-pb: linear-gradient(90deg, var(--purple-500) 31.77%, var(--blue-300) 100%);

  --vert-pb: linear-gradient(180deg, var(--purple-500) 31.77%, var(--blue-300) 100%);


  --hor-ppk: linear-gradient(90deg, var(--purple-500) 31.77%, var(--pink-300) 100%);

  --vert-ppk: linear-gradient(180deg, var(--purple-500) 31.77%, var(--pink-300) 100%);


  --hor-pink: linear-gradient(90deg, var(--pink-400) 31.77%, var(--pink-500) 100%);

  --vert-pink: linear-gradient(180deg, var(--pink-400) 31.77%, var(--pink-500) 100%);


  --hor-pkr: linear-gradient(90deg, var(--pink-500) 31.77%, var(--red-300) 100%);

  --vert-pkr: linear-gradient(180deg, var(--pink-500) 31.77%, var(--red-300) 100%);


  --hor-pkp: linear-gradient(90deg, var(--pink-500) 31.77%, var(--purple-300) 100%);
  --vert-pkp: linear-gradient(180deg, var(--pink-500) 31.77%, var(--purple-400) 100%);

}

h1, h2, h3, h4, h5, h6, a, p, span, button, input, label, text, div {
  font-family: var(--font-family);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 600;
}

h5, h6, a, p, span, button, input, label {
  font-weight: 500;
}

* {
  box-sizing: content-box;
}

button {
  background: none;
  outline: 0;
  border: 0;
}

input, label {
  background: none;
  outline: none;
  border: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -moz-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

/* Colors */

/* Components */



/* BREAKPOINTS */

/* Small (sm) */
@media (min-width: 640px) {

}

/* Medium (md) */
@media (min-width: 768px) {

}

/* Large (lg) */
@media (min-width: 1024px) {

}

/* Extra Large (xl) */
@media (min-width: 1280px) {

}