/* Nine | The CSS Framework (https://github.com/nuzzesick/nine-css)
Made with love by Matías Nuccetelli (https://nuzze.now.sh) in Argentina. */


html,
body {
  margin: 0;
  padding: 0;

  /* Font family */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Colors */
  --transparent: transparent;

  --white: #FFFFFF;

  --gray-100: #F0F0F0;
  --gray-200: #DADADA;
  --gray-300: #C2C2C2;
  --gray-400: #A8A8A8;
  --gray-500: #858585;
  --gray: var(--gray-500);
  --gray-600: #6A6A6A;
  --gray-700: #4D4D4D;
  --gray-800: #363636;
  --gray-900: #202020;

  --black: #0E0E0E;

  --red-100: #FFCACA;
  --red-200: #FF9090;
  --red-300: #FD7575;
  --red-400: #F95A5A;
  --red-500: #EC4141;
  --red: var(--red-500);
  --red-600: #D02525;
  --red-700: #AE1C1C;
  --red-800: #851111;
  --red-900: #4F0707;

  --orange-100: #FFDDCA;
  --orange-200: #FFC09D;
  --orange-300: #FFAC7D;
  --orange-400: #F49058;
  --orange-500: #E5793C;
  --orange: var(--orange-500);
  --orange-600: #CA6125;
  --orange-700: #B14E17;
  --orange-800: #8A380B;
  --orange-900: #672804;

  --yellow-100: #FFFACA;
  --yellow-200: #FFF6A4;
  --yellow-300: #FFF27B;
  --yellow-400: #F4E557;
  --yellow-500: #E4D434;
  --yellow: var(--yellow);
  --yellow-600: #C8B921;
  --yellow-700: #B0A319;
  --yellow-800: #938710;
  --yellow-900: #665E08;

  --green-100: #D1FFCA;
  --green-200: #A6FF98;
  --green-300: #89FF77;
  --green-400: #63F24E;
  --green-500: #4CDD36;
  --green: var(--green-500);
  --green-600: #36C220;
  --green-700: #2AA616;
  --green-800: #1D880C;
  --green-900: #126504;

  --blue-100: #CAE2FF;
  --blue-200: #A5CEFF;
  --blue-300: #7CB7FF;
  --blue-400: #56A0FB;
  --blue-500: #4593F1;
  --blue: var(--blue-500);
  --blue-600: #2D7CDC;
  --blue-700: #1F66BC;
  --blue-800: #104E98;
  --blue-900: #0A3972;

  --purple-100: #DBCAFF;
  --purple-200: #BE9FFF;
  --purple-300: #A57BFF;
  --purple-400: #915EFF;
  --purple-500: #7D47F0;
  --purple: var(--purple-500);
  --purple-600: #6C36DD;
  --purple-700: #5624BF;
  --purple-800: #4011A3;
  --purple-900: #300A80;

  --pink-100: #F8CAFF;
  --pink-200: #F3A9FF;
  --pink-300: #EE88FF;
  --pink-400: #E461FA;
  --pink-500: #D346EB;
  --pink: var(--pink-500);
  --pink-600: #C130D9;
  --pink-700: #A61FBD;
  --pink-800: #820F95;
  --pink-900: #5D066B;


  /* Gradients */

  /* Red */
  --hor-red: linear-gradient(90deg, var(-red-400) 31.77%, var(--red-500) 100%);

  --vert-red: linear-gradient(180deg, var(--red-400) 31.77%, var(--red-500) 100%);

  /* Red-orange */
  --hor-ro: linear-gradient(90deg, var(--red-400) 31.77%, var(--orange-400) 100%);

  --vert-ro: linear-gradient(180deg, var(--red-400) 31.77%, var(--orange-400) 100%);

  /* Red-purple */
  --hor-rp: linear-gradient(90deg, var(--red-400) 31.77%, var(--purple-300) 100%);

  --vert-rp: linear-gradient(180deg, var(--red-400) 31.77%, var(--purple-300) 100%);

  /* Orange */
  --hor-orange: linear-gradient(90deg, var(--orange-400) 31.77%, var(--orange-500) 100%);

  --vert-orange: linear-gradient(180deg, var(--orange-400) 31.77%, var(--orange-500) 100%);

  /* Orange-red */
  --hor-or: linear-gradient(90deg, var(--orange-400) 31.77%, var(--red-400) 100%);

  --vert-or: linear-gradient(180deg, var(--orange-400) 31.77%, var(--red-400) 100%);

  /* Green */
  --hor-green: linear-gradient(90deg, var(--green-400) 31.77%, var(--green-500) 100%);

  --vert-green: linear-gradient(180deg, var(--green-400) 31.77%, var(--green-500) 100%);

  /* Green-blue */
  --hor-gb: linear-gradient(90deg, var(--green-500) 31.77%, var(--blue-400) 100%);

  --vert-gb: linear-gradient(180deg, var(--green-500) 31.77%, var(--blue-400) 100%);

  /* Blue */
  --hor-blue: linear-gradient(90deg, var(--blue-400) 31.77%, var(--blue-500) 100%);

  --vert-blue: linear-gradient(180deg, var(--blue-400) 31.77%, var(--blue-500) 100%);

  /* Blue-green */
  --hor-bg: linear-gradient(90deg, var(--blue-500) 31.77%, var(--green-400) 100%);

  --vert-bg: linear-gradient(180deg, var(--blue-500) 31.77%, var(--green-400) 100%);

  /* Blue-purple */
  --hor-bp: linear-gradient(90deg, var(--blue-500) 31.77%, var(--purple-300) 100%);

  --vert-bp: linear-gradient(180deg, var(--blue-500) 31.77%, var(--purple-300) 100%);

  /* Purple */
  --hor-purple: linear-gradient(90deg, var(--purple-400) 31.77%, var(--purple-500) 100%);

  --vert-purple: linear-gradient(180deg, var(--purple-400) 31.77%, var(--purple-500) 100%);

  /* Purple-red */
  --hor-pr: linear-gradient(90deg, var(--purple-500) 31.77%, var(--red-400) 100%);

  --vert-pr: linear-gradient(180deg, var(--purple-500) 31.77%, var(--red-400) 100%);

  /* Purple-blue */
  --hor-pb: linear-gradient(90deg, var(--purple-500) 31.77%, var(--blue-300) 100%);

  --vert-pb: linear-gradient(180deg, var(--purple-500) 31.77%, var(--blue-300) 100%);

  /* Purple-pink */
  --hor-ppk: linear-gradient(90deg, var(--purple-500) 31.77%, var(--pink-300) 100%);

  --vert-ppk: linear-gradient(180deg, var(--purple-500) 31.77%, var(--pink-300) 100%);

  /* Pink */
  --hor-pink: linear-gradient(90deg, var(--pink-400) 31.77%, var(--pink-500) 100%);

  --vert-pink: linear-gradient(180deg, var(--pink-400) 31.77%, var(--pink-500) 100%);

  /* Pink-red */
  --hor-pkr: linear-gradient(90deg, var(--pink-500) 31.77%, var(--red-300) 100%);

  --vert-pkr: linear-gradient(180deg, var(--pink-500) 31.77%, var(--red-300) 100%);

  /* Pink-purple */
  --hor-pkp: linear-gradient(90deg, var(--pink-500) 31.77%, var(--purple-300) 100%);
  --vert-pkp: linear-gradient(180deg, var(--pink-500) 31.77%, var(--purple-400) 100%);


  /* Box shadows */
  --shadow-sm: 0 4px 10px;
  --shadow-md: 0 8px 12px;
  --shadow-lg: 0 10px 16px;
  --shadow-xl: 0 20px 20px;
  --shadow-inner: inset 0 2px 4px 0;
  --shadow-outline: 0 0 0 3px;

}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
button,
input,
label,
text,
div {
  font-family: var(--font-family);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

h5,
h6,
a,
p,
span,
button,
input,
label {
  font-weight: 500;
}

* {
  box-sizing: content-box;
}

button {
  background: none;
  outline: 0;
  border: 0;
}

input,
label {
  background: none;
  outline: none;
  border: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -moz-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

/* Components */

/* Buttons */

/* Normal button */
.btn {
  display: block;
  margin: 0.2rem;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.hover\:btn:hover {
  display: block;
  margin: 0.2rem;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.focus\:btn:focus {
  display: block;
  margin: 0.2rem;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.active\:btn:active {
  display: block;
  margin: 0.2rem;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.btn:hover {
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}

/* Small button */
.btn-sm {
  display: block;
  margin: 0.2rem;
  padding: 0.3rem 1.4rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.hover\:btn-sm:hover {
  display: block;
  margin: 0.2rem;
  padding: 0.3rem 1.4rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.focus\:btn-sm:focus {
  display: block;
  margin: 0.2rem;
  padding: 0.3rem 1.4rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.active\:btn-sm:active {
  display: block;
  margin: 0.2rem;
  padding: 0.3rem 1.4rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.btn-sm:hover {
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}

/* Medium button */
.btn-md {
  display: block;
  margin: 0.2rem;
  padding: 0.6rem 2.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.hover\:btn-md:hover {
  display: block;
  margin: 0.2rem;
  padding: 0.6rem 2.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.focus\:btn-md:focus {
  display: block;
  margin: 0.2rem;
  padding: 0.6rem 2.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.active\:btn-md:active {
  display: block;
  margin: 0.2rem;
  padding: 0.6rem 2.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.btn-md:hover {
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}

/* Large screen button */
.btn-lg {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem 3.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.hover\:btn-lg:hover {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem 3.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.focus\:btn-lg:focus {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem 3.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.active\:btn-lg:active {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem 3.8rem;
  font-weight: 500;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
}
.btn-lg:hover {
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}

/* Extra large button */
.btn-xl {
  display: block;
  margin: 0.2rem;
  padding: 1rem 4.8rem;
  font-weight: 600;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}
.hover\:btn-xl:hover {
  display: block;
  margin: 0.2rem;
  padding: 1rem 4.8rem;
  font-weight: 600;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}
.focus\:btn-xl:focus {
  display: block;
  margin: 0.2rem;
  padding: 1rem 4.8rem;
  font-weight: 600;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}
.active\:btn-xl:active {
  display: block;
  margin: 0.2rem;
  padding: 1rem 4.8rem;
  font-weight: 600;
  color: var(--gray-900);
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}
.btn-xl:hover {
  -webkit-box-shadow: var(--shadow-lg) var(--gray-100);
  -moz-box-shadow: var(--shadow-lg) var(--gray-100);
  box-shadow: var(--shadow-lg) var(--gray-100);
}

/* Card */
.card {
  display: block;
  width: max-content;
  margin: 1rem;
  padding: 2rem;
  -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
  -moz-box-shadow: var(--shadow-sm) var(--gray-100);
  box-shadow: var(--shadow-sm) var(--gray-100);
  border-radius: 8px;
  transition: 0.3s;
}
.card:hover {
  -webkit-box-shadow: var(--shadow-md) var(--gray-100);
  -moz-box-shadow: var(--shadow-md) var(--gray-100);
  box-shadow: var(--shadow-md) var(--gray-100);
}





/* BREAKPOINTS */

/* Small (sm) */
@media(min-width: 300px) {
  .sm\:btn {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:hover\:btn:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:focus\:btn:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:active\:btn:active {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:btn-sm {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:hover\:btn-sm:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:focus\:btn-sm:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:active\:btn-sm:active {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:btn-md {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:hover\:btn-md:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:focus\:btn-md:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:active\:btn-md:active {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:btn-lg {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:hover\:btn-lg:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:focus\:btn-lg:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:active\:btn-lg:active {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .sm\:btn-xl {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .sm\:hover\:btn-xl:hover {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .sm\:focus\:btn-xl:focus {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .sm\:active\:btn-xl:active {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
}

/* Medium (md) */
@media(min-width: 768px) {
  .md\:btn {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:hover\:btn:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:focus\:btn:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:active\:btn:active {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:btn-sm {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:hover\:btn-sm:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:focus\:btn-sm:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:active\:btn-sm:active {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:btn-md {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:hover\:btn-md:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:focus\:btn-md:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:active\:btn-md:active {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:btn-lg {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:hover\:btn-lg:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:focus\:btn-lg:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:active\:btn-lg:active {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .md\:btn-xl {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .md\:hover\:btn-xl:hover {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .md\:focus\:btn-xl:focus {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .md\:active\:btn-xl:active {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
}

/* Large (lg) */
@media(min-width: 1024px) {
  .lg\:btn {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:hover\:btn:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:focus\:btn:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:active\:btn:active {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:btn-sm {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:hover\:btn-sm:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:focus\:btn-sm:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:active\:btn-sm:active {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:btn-md {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:hover\:btn-md:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:focus\:btn-md:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:active\:btn-md:active {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:btn-lg {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:hover\:btn-lg:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:focus\:btn-lg:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:active\:btn-lg:active {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .lg\:btn-xl {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .lg\:hover\:btn-xl:hover {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .lg\:focus\:btn-xl:focus {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .lg\:active\:btn-xl:active {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
}

/* Extra Large (xl) */
@media(min-width: 1280px) {
  .xl\:btn {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:hover\:btn:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:focus\:btn:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:active\:btn:active {
    display: block;
    margin: 0.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:btn-sm {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:hover\:btn-sm:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:focus\:btn-sm:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:active\:btn-sm:active {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 1.4rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:btn-md {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:hover\:btn-md:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:focus\:btn-md:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:active\:btn-md:active {
    display: block;
    margin: 0.2rem;
    padding: 0.6rem 2.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:btn-lg {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:hover\:btn-lg:hover {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:focus\:btn-lg:focus {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:active\:btn-lg:active {
    display: block;
    margin: 0.2rem;
    padding: 0.8rem 3.8rem;
    font-weight: 500;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-sm) var(--gray-100);
    -moz-box-shadow: var(--shadow-sm) var(--gray-100);
    box-shadow: var(--shadow-sm) var(--gray-100);
  }
  .xl\:btn-xl {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .xl\:hover\:btn-xl:hover {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .xl\:focus\:btn-xl:focus {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
  .xl\:active\:btn-xl:active {
    display: block;
    margin: 0.2rem;
    padding: 1rem 4.8rem;
    font-weight: 600;
    color: var(--gray-900);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: var(--shadow-md) var(--gray-100);
    -moz-box-shadow: var(--shadow-md) var(--gray-100);
    box-shadow: var(--shadow-md) var(--gray-100);
  }
}
