
/* Nine | The CSS Framework (https://github.com/nuzzesick/nine-css)
Made with love by Matías Nuccetelli (https://nuzze.now.sh) in Argentina. */


body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Color variables */

  /* Night to white */
  --night: #0C0C0C;
  --night-hover: #050505;
  --black: #272727;
  --black-hover: #161616;
  --gray: #727272;
  --gray-hover: #535353;
  --white-gray: #DBDBDB;
  --white-gray-hover: #bbbbbb;
  --white: #F9F9F9;
  --white-hover: #e6e6e6;
  /* RGB */
  --red: #FA4646;
  --red-hover: #e03838;
  --green: #2bc557;
  --green-hover: #22a748;
  --blue: #5177FF;
  --blue-hover: #3a5ddb;
  /* Extra */
  --purple: #9351FF;
  --purple-hover: #793cdb;
  --orange: #FFA451;
  --orange-hover: #dd893a;
  --yellow: #F9E63F;
  --yellow-hover: #dbca2d;
  --pink: #FC51FF;
  --pink-hover: #da3bdd;
  --light-blue: #51F5FF;
  --light-blue-hover: #3bd8e0;


  /* Box shadow variables */

  /* Dark to white-gray */
  --box-shadow-dark: 0px 10px 30px rgba(92, 92, 92, 0.25);
  --box-shadow: 0px 10px 30px rgba(180, 180, 180, 0.25);
  --box-shadow-white-gray: 0px 10px 30px rgba(226, 226, 226, 0.25);
  /* RGB */
  --box-shadow-red: 0px 10px 30px #fa464636;
  --box-shadow-green: 0px 10px 30px #31e76534;
  --box-shadow-blue: 0px 10px 30px #5177ff2f;
  /* Extra */
  --box-shadow-purple: 0px 10px 30px #9451ff32;
  --box-shadow-orange: 0px 10px 30px #ffa55132;
  --box-shadow-pink: 0px 10px 30px #fc51ff36;
  --box-shadow-light-blue: 0px 10px 30px #51f6ff3a;
}

h1, h2, h3, h4, h5, h6, a, p, span, button, li, input, label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2 {
  font-weight: 800;
}
h3,h4 {
  font-weight: 700;
}
h5, h6 {
  font-weight: 600
}
button {
  outline: 0;
  border: 0;
}
button:focus {
  outline: 0;
  border: 0;
}

/* Colors */
/* Night to white */
.color-night {
  color: var(--night)
}
.color-black {
  color: var(--black)
}
.color-gray {
  color: var(--gray)
}
.color-white-gray {
  color: var(--white-gray)
}
.color-white {
  color: var(--white)
}
/* RGB */
.color-red {
  color: var(--red)
}
.color-green {
  color: var(--green)
}
.color-blue {
  color: var(--blue)
}
/* Extra */
.color-purple {
  color: var(--purple)
}
.color-orange {
  color: var(--orange)
}
.color-yellow {
  color: var(--yellow)
}
.color-pink {
  color: var(--pink)
}
.color-light-blue {
  color: var(--light-blue)
}

/* Background */
/* Night to white */
.bg-night {
  background-color: var(--night)
}
.bg-hover-night:hover {
  background-color: var(--night-hover)!important
}
.bg-black {
  background-color: var(--black)
}
.bg-hover-black:hover {
  background-color: var(--black-hover)!important
}
.bg-gray {
  background-color: var(--gray)
}
.bg-hover-gray:hover {
  background-color: var(--gray-hover)!important
}
.bg-white-gray {
  background-color: var(--white-gray)
}
.bg-hover-gray:hover {
  background-color: var(--white-gray-hover)!important
}
.bg-white {
  background-color: var(--white)
}
.bg-hover-white:hover {
  background-color: var(--white-hover)!important
}
/* RGB */
.bg-red {
  background-color: var(--red)
}
.bg-hover-red:hover {
  background-color: var(--red-hover)!important
}
.bg-green {
  background-color: var(--green)
}
.bg-hover-green:hover {
  background-color: var(--green-hover)!important
}
.bg-blue {
  background-color: var(--blue)
}
.bg-hover-blue:hover {
  background-color: var(--blue-hover)!important
}
/* Extra */
.bg-purple {
  background-color: var(--purple)
}
.bg-hover-purple:hover {
  background-color: var(--purple-hover)!important
}
.bg-orange {
  background-color: var(--orange)
}
.bg-hover-orange:hover {
  background-color: var(--orange-hover)!important
}
.bg-yellow {
  background-color: var(--yellow)
}
.bg-hover-yellow:hover {
  background-color: var(--yellow-hover)!important
}
.bg-pink {
  background-color: var(--pink)
}
.bg-hover-pink:hover {
  background-color: var(--pink-hover)!important
}
.bg-light-blue {
  background-color: var(--light-blue)
}
.bg-hover-light-blue:hover {
  background-color: var(--light-blue-hover)!important
}
/* Display */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex
}
.flexbox {
  display: flexbox
}
.inline-flexbox {
  display: inline-flexbox
}
.block {
  display: block
}
.inline-block {
  display: inline-block
}
.table {
  display: table
}
.inline-table {
  display: inline-table
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}

/* Select */
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Align text */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-end {
  text-align: end;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-inherit {
  text-align: inherit;
}
.text-initial {
  text-align: initial;
}
.text-unset {
  text-align: unset;
}
/* Container */
.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
/* Card */
.card {
  width: 14rem;
  min-height: 10rem;
  margin: 1rem;
  padding: 1.2rem;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.card-content {
  margin: 0.5rem;
}
/* Button */
.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.btn:hover {
  background: var(--white-hover);
}
.btn-primary {
  background-color: var(--blue);
  -webkit-box-shadow: var(--box-shadow-blue);
  -moz-box-shadow: var(--box-shadow-blue);
  box-shadow: var(--box-shadow-blue);
}
.btn-primary:hover {
  background-color: var(--blue-hover);
}
.btn-secondary {
  background-color: var(--gray);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.btn-secondary:hover {
  background-color: var(--gray-hover);
}
.btn-success {
  background-color: var(--green);
  -webkit-box-shadow: var(--box-shadow-green);
  -moz-box-shadow: var(--box-shadow-green);
  box-shadow: var(--box-shadow-green);
}
.btn-success:hover {
  background-color: var(--green-hover);
}
/* Margin */
/* All margin */
.m-1 {
  margin: 1rem;
}
.m-1-1 {
  margin: 1.1rem;
}
.m-1-2 {
  margin: 1.2rem;
}
.m-1-3 {
  margin: 1.3rem;
}
.m-1-4 {
  margin: 1.4rem;
}
.m-1-5 {
  margin: 1.5rem;
}
.m-1-6 {
  margin: 1.6rem;
}
.m-1-7 {
  margin: 1.7rem;
}
.m-1-8 {
  margin: 1.8rem;
}
.m-1-9 {
  margin: 1.9rem;
}
.m-2 {
  margin: 2rem;
}
.m-2-1 {
  margin: 2.1rem;
}
.m-2-2 {
  margin: 2.2rem;
}
.m-2-3 {
  margin: 2.3rem;
}
.m-2-4 {
  margin: 2.4rem;
}
.m-2-5 {
  margin: 2.5rem;
}
.m-2-6 {
  margin: 2.6rem;
}
.m-2-7 {
  margin: 2.7rem;
}
.m-2-8 {
  margin: 2.8rem;
}
.m-2-9 {
  margin: 2.9rem;
}
.m-3 {
  margin: 3rem;
}
.m-3-1 {
  margin: 3.1rem;
}
.m-3-2 {
  margin: 3.2rem;
}
.m-3-3 {
  margin: 3.3rem;
}
.m-3-4 {
  margin: 3.4rem;
}
.m-3-5 {
  margin: 3.5rem;
}
.m-3-6 {
  margin: 3.6rem;
}
.m-3-7 {
  margin: 3.7rem;
}
.m-3-8 {
  margin: 3.8rem;
}
.m-3-9 {
  margin: 3.9rem;
}
.m-4 {
  margin: 4rem;
}
/* Margin auto */
.m-auto {
  margin: auto;
}
/* Margin top */
.mt-1 {
  margin-top: 1rem;
}
.mt-1-1 {
  margin-top: 1.1rem;
}
.mt-1-2 {
  margin-top: 1.2rem;
}
.mt-1-3 {
  margin-top: 1.3rem;
}
.mt-1-4 {
  margin-top: 1.4rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-1-6 {
  margin-top: 1.6rem;
}
.mt-1-7 {
  margin-top: 1.7rem;
}
.mt-1-8 {
  margin-top: 1.8rem;
}
.mt-1-9 {
  margin-top: 1.9rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2-1 {
  margin-top: 2.1rem;
}
.mt-2-2 {
  margin-top: 2.2rem;
}
.mt-2-3 {
  margin-top: 2.3rem;
}
.mt-2-4 {
  margin-top: 2.4rem;
}
.mt-2-5 {
  margin-top: 2.5rem;
}
.mt-2-6 {
  margin-top: 2.6rem;
}
.mt-2-7 {
  margin-top: 2.7rem;
}
.mt-2-8 {
  margin-top: 2.8rem;
}
.mt-2-9 {
  margin-top: 2.9rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-3-1 {
  margin-top: 3.1rem;
}
.mt-3-2 {
  margin-top: 3.2rem;
}
.mt-3-3 {
  margin-top: 3.3rem;
}
.mt-3-4 {
  margin-top: 3.4rem;
}
.mt-3-5 {
  margin-top: 3.5rem;
}
.mt-3-6 {
  margin-top: 3.6rem;
}
.mt-3-7 {
  margin-top: 3.7rem;
}
.mt-3-8 {
  margin-top: 3.8rem;
}
.mt-3-9 {
  margin-top: 3.9rem;
}
.mt-4 {
  margin-top: 4rem;
}
/* Margin left */
.ml-1 {
  margin-left: 1rem;
}
.ml-1-1 {
  margin-left: 1.1rem;
}
.ml-1-2 {
  margin-left: 1.2rem;
}
.ml-1-3 {
  margin-left: 1.3rem;
}
.ml-1-4 {
  margin-left: 1.4rem;
}
.ml-1-5 {
  margin-left: 1.5rem;
}
.ml-1-6 {
  margin-left: 1.6rem;
}
.ml-1-7 {
  margin-left: 1.7rem;
}
.ml-1-8 {
  margin-left: 1.8rem;
}
.ml-1-9 {
  margin-left: 1.9rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-2-1 {
  margin-left: 2.1rem;
}
.ml-2-2 {
  margin-left: 2.2rem;
}
.ml-2-3 {
  margin-left: 2.3rem;
}
.ml-2-4 {
  margin-left: 2.4rem;
}
.ml-2-5 {
  margin-left: 2.5rem;
}
.ml-2-6 {
  margin-left: 2.6rem;
}
.ml-2-7 {
  margin-left: 2.7rem;
}
.ml-2-8 {
  margin-left: 2.8rem;
}
.ml-2-9 {
  margin-left: 2.9rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-3-1 {
  margin-left: 3.1rem;
}
.ml-3-2 {
  margin-left: 3.2rem;
}
.ml-3-3 {
  margin-left: 3.3rem;
}
.ml-3-4 {
  margin-left: 3.4rem;
}
.ml-3-5 {
  margin-left: 3.5rem;
}
.ml-3-6 {
  margin-left: 3.6rem;
}
.ml-3-7 {
  margin-left: 3.7rem;
}
.ml-3-8 {
  margin-left: 3.8rem;
}
.ml-3-9 {
  margin-left: 3.9rem;
}
.ml-4 {
  margin-left: 4rem;
}
/* Margin bottom */
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1-1 {
  margin-bottom: 1.1rem;
}
.mb-1-2 {
  margin-bottom: 1.2rem;
}
.mb-1-3 {
  margin-bottom: 1.3rem;
}
.mb-1-4 {
  margin-bottom: 1.4rem;
}
.mb-1-5 {
  margin-bottom: 1.5rem;
}
.mb-1-6 {
  margin-bottom: 1.6rem;
}
.mb-1-7 {
  margin-bottom: 1.7rem;
}
.mb-1-8 {
  margin-bottom: 1.8rem;
}
.mb-1-9 {
  margin-bottom: 1.9rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2-1 {
  margin-bottom: 2.1rem;
}
.mb-2-2 {
  margin-bottom: 2.2rem;
}
.mb-2-3 {
  margin-bottom: 2.3rem;
}
.mb-2-4 {
  margin-bottom: 2.4rem;
}
.mb-2-5 {
  margin-bottom: 2.5rem;
}
.mb-2-6 {
  margin-bottom: 2.6rem;
}
.mb-2-7 {
  margin-bottom: 2.7rem;
}
.mb-2-8 {
  margin-bottom: 2.8rem;
}
.mb-2-9 {
  margin-bottom: 2.9rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-3-1 {
  margin-bottom: 3.1rem;
}
.mb-3-2 {
  margin-bottom: 3.2rem;
}
.mb-3-3 {
  margin-bottom: 3.3rem;
}
.mb-3-4 {
  margin-bottom: 3.4rem;
}
.mb-3-5 {
  margin-bottom: 3.5rem;
}
.mb-3-6 {
  margin-bottom: 3.6rem;
}
.mb-3-7 {
  margin-bottom: 3.7rem;
}
.mb-3-8 {
  margin-bottom: 3.8rem;
}
.mb-3-9 {
  margin-bottom: 3.9rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
/* Margin right */
.mr-1 {
  margin-right: 1rem;
}
.mr-1-1 {
  margin-right: 1.1rem;
}
.mr-1-2 {
  margin-right: 1.2rem;
}
.mr-1-3 {
  margin-right: 1.3rem;
}
.mr-1-4 {
  margin-right: 1.4rem;
}
.mr-1-5 {
  margin-right: 1.5rem;
}
.mr-1-6 {
  margin-right: 1.6rem;
}
.mr-1-7 {
  margin-right: 1.7rem;
}
.mr-1-8 {
  margin-right: 1.8rem;
}
.mr-1-9 {
  margin-right: 1.9rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-2-1 {
  margin-right: 2.1rem;
}
.mr-2-2 {
  margin-right: 2.2rem;
}
.mr-2-3 {
  margin-right: 2.3rem;
}
.mr-2-4 {
  margin-right: 2.4rem;
}
.mr-2-5 {
  margin-right: 2.5rem;
}
.mr-2-6 {
  margin-right: 2.6rem;
}
.mr-2-7 {
  margin-right: 2.7rem;
}
.mr-2-8 {
  margin-right: 2.8rem;
}
.mr-2-9 {
  margin-right: 2.9rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-3-1 {
  margin-right: 3.1rem;
}
.mr-3-2 {
  margin-right: 3.2rem;
}
.mr-3-3 {
  margin-right: 3.3rem;
}
.mr-3-4 {
  margin-right: 3.4rem;
}
.mr-3-5 {
  margin-right: 3.5rem;
}
.mr-3-6 {
  margin-right: 3.6rem;
}
.mr-3-7 {
  margin-right: 3.7rem;
}
.mr-3-8 {
  margin-right: 3.8rem;
}
.mr-3-9 {
  margin-right: 3.9rem;
}
.mr-4 {
  margin-right: 4rem;
}

/* Padding */
/* All padding */
.p-1 {
  padding: 1rem;
}
.p-1-1 {
  padding: 1.1rem;
}
.p-1-2 {
  padding: 1.2rem;
}
.p-1-3 {
  padding: 1.3rem;
}
.p-1-4 {
  padding: 1.4rem;
}
.p-1-5 {
  padding: 1.5rem;
}
.p-1-6 {
  padding: 1.6rem;
}
.p-1-7 {
  padding: 1.7rem;
}
.p-1-8 {
  padding: 1.8rem;
}
.p-1-9 {
  padding: 1.9rem;
}
.p-2 {
  padding: 2rem;
}
.p-2-1 {
  padding: 2.1rem;
}
.p-2-2 {
  padding: 2.2rem;
}
.p-2-3 {
  padding: 2.3rem;
}
.p-2-4 {
  padding: 2.4rem;
}
.p-2-5 {
  padding: 2.5rem;
}
.p-2-6 {
  padding: 2.6rem;
}
.p-2-7 {
  padding: 2.7rem;
}
.p-2-8 {
  padding: 2.8rem;
}
.p-2-9 {
  padding: 2.9rem;
}
.p-3 {
  padding: 3rem;
}
.p-3-1 {
  padding: 3.1rem;
}
.p-3-2 {
  padding: 3.2rem;
}
.p-3-3 {
  padding: 3.3rem;
}
.p-3-4 {
  padding: 3.4rem;
}
.p-3-5 {
  padding: 3.5rem;
}
.p-3-6 {
  padding: 3.6rem;
}
.p-3-7 {
  padding: 3.7rem;
}
.p-3-8 {
  padding: 3.8rem;
}
.p-3-9 {
  padding: 3.9rem;
}
.p-4 {
  padding: 4rem;
}
/* Padding auto */
.p-auto {
  padding: auto;
}
/* Padding top */
.pt-1 {
  padding-top: 1rem;
}
.pt-1-1 {
  padding-top: 1.1rem;
}
.pt-1-2 {
  padding-top: 1.2rem;
}
.pt-1-3 {
  padding-top: 1.3rem;
}
.pt-1-4 {
  padding-top: 1.4rem;
}
.pt-1-5 {
  padding-top: 1.5rem;
}
.pt-1-6 {
  padding-top: 1.6rem;
}
.pt-1-7 {
  padding-top: 1.7rem;
}
.pt-1-8 {
  padding-top: 1.8rem;
}
.pt-1-9 {
  padding-top: 1.9rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-2-1 {
  padding-top: 2.1rem;
}
.pt-2-2 {
  padding-top: 2.2rem;
}
.pt-2-3 {
  padding-top: 2.3rem;
}
.pt-2-4 {
  padding-top: 2.4rem;
}
.pt-2-5 {
  padding-top: 2.5rem;
}
.pt-2-6 {
  padding-top: 2.6rem;
}
.pt-2-7 {
  padding-top: 2.7rem;
}
.pt-2-8 {
  padding-top: 2.8rem;
}
.pt-2-9 {
  padding-top: 2.9rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-3-1 {
  padding-top: 3.1rem;
}
.pt-3-2 {
  padding-top: 3.2rem;
}
.pt-3-3 {
  padding-top: 3.3rem;
}
.pt-3-4 {
  padding-top: 3.4rem;
}
.pt-3-5 {
  padding-top: 3.5rem;
}
.pt-3-6 {
  padding-top: 3.6rem;
}
.pt-3-7 {
  padding-top: 3.7rem;
}
.pt-3-8 {
  padding-top: 3.8rem;
}
.pt-3-9 {
  padding-top: 3.9rem;
}
.pt-4 {
  padding-top: 4rem;
}
/* Padding left */
.pl-1 {
  padding-left: 1rem;
}
.pl-1-1 {
  padding-left: 1.1rem;
}
.pl-1-2 {
  padding-left: 1.2rem;
}
.pl-1-3 {
  padding-left: 1.3rem;
}
.pl-1-4 {
  padding-left: 1.4rem;
}
.pl-1-5 {
  padding-left: 1.5rem;
}
.pl-1-6 {
  padding-left: 1.6rem;
}
.pl-1-7 {
  padding-left: 1.7rem;
}
.pl-1-8 {
  padding-left: 1.8rem;
}
.pl-1-9 {
  padding-left: 1.9rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-2-1 {
  padding-left: 2.1rem;
}
.pl-2-2 {
  padding-left: 2.2rem;
}
.pl-2-3 {
  padding-left: 2.3rem;
}
.pl-2-4 {
  padding-left: 2.4rem;
}
.pl-2-5 {
  padding-left: 2.5rem;
}
.pl-2-6 {
  padding-left: 2.6rem;
}
.pl-2-7 {
  padding-left: 2.7rem;
}
.pl-2-8 {
  padding-left: 2.8rem;
}
.pl-2-9 {
  padding-left: 2.9rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-3-1 {
  padding-left: 3.1rem;
}
.pl-3-2 {
  padding-left: 3.2rem;
}
.pl-3-3 {
  padding-left: 3.3rem;
}
.pl-3-4 {
  padding-left: 3.4rem;
}
.pl-3-5 {
  padding-left: 3.5rem;
}
.pl-3-6 {
  padding-left: 3.6rem;
}
.pl-3-7 {
  padding-left: 3.7rem;
}
.pl-3-8 {
  padding-left: 3.8rem;
}
.pl-3-9 {
  padding-left: 3.9rem;
}
.pl-4 {
  padding-left: 4rem;
}
/* Padding bottom */
.pb-1 {
  padding-bottom: 1rem;
}
.pb-1-1 {
  padding-bottom: 1.1rem;
}
.pb-1-2 {
  padding-bottom: 1.2rem;
}
.pb-1-3 {
  padding-bottom: 1.3rem;
}
.pb-1-4 {
  padding-bottom: 1.4rem;
}
.pb-1-5 {
  padding-bottom: 1.5rem;
}
.pb-1-6 {
  padding-bottom: 1.6rem;
}
.pb-1-7 {
  padding-bottom: 1.7rem;
}
.pb-1-8 {
  padding-bottom: 1.8rem;
}
.pb-1-9 {
  padding-bottom: 1.9rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-2-1 {
  padding-bottom: 2.1rem;
}
.pb-2-2 {
  padding-bottom: 2.2rem;
}
.pb-2-3 {
  padding-bottom: 2.3rem;
}
.pb-2-4 {
  padding-bottom: 2.4rem;
}
.pb-2-5 {
  padding-bottom: 2.5rem;
}
.pb-2-6 {
  padding-bottom: 2.6rem;
}
.pb-2-7 {
  padding-bottom: 2.7rem;
}
.pb-2-8 {
  padding-bottom: 2.8rem;
}
.pb-2-9 {
  padding-bottom: 2.9rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-3-1 {
  padding-bottom: 3.1rem;
}
.pb-3-2 {
  padding-bottom: 3.2rem;
}
.pb-3-3 {
  padding-bottom: 3.3rem;
}
.pb-3-4 {
  padding-bottom: 3.4rem;
}
.pb-3-5 {
  padding-bottom: 3.5rem;
}
.pb-3-6 {
  padding-bottom: 3.6rem;
}
.pb-3-7 {
  padding-bottom: 3.7rem;
}
.pb-3-8 {
  padding-bottom: 3.8rem;
}
.pb-3-9 {
  padding-bottom: 3.9rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
/* padding right */
.pr-1 {
  padding-right: 1rem;
}
.pr-1-1 {
  padding-right: 1.1rem;
}
.pr-1-2 {
  padding-right: 1.2rem;
}
.pr-1-3 {
  padding-right: 1.3rem;
}
.pr-1-4 {
  padding-right: 1.4rem;
}
.pr-1-5 {
  padding-right: 1.5rem;
}
.pr-1-6 {
  padding-right: 1.6rem;
}
.pr-1-7 {
  padding-right: 1.7rem;
}
.pr-1-8 {
  padding-right: 1.8rem;
}
.pr-1-9 {
  padding-right: 1.9rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-2-1 {
  padding-right: 2.1rem;
}
.pr-2-2 {
  padding-right: 2.2rem;
}
.pr-2-3 {
  padding-right: 2.3rem;
}
.pr-2-4 {
  padding-right: 2.4rem;
}
.pr-2-5 {
  padding-right: 2.5rem;
}
.pr-2-6 {
  padding-right: 2.6rem;
}
.pr-2-7 {
  padding-right: 2.7rem;
}
.pr-2-8 {
  padding-right: 2.8rem;
}
.pr-2-9 {
  padding-right: 2.9rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-3-1 {
  padding-right: 3.1rem;
}
.pr-3-2 {
  padding-right: 3.2rem;
}
.pr-3-3 {
  padding-right: 3.3rem;
}
.pr-3-4 {
  padding-right: 3.4rem;
}
.pr-3-5 {
  padding-right: 3.5rem;
}
.pr-3-6 {
  padding-right: 3.6rem;
}
.pr-3-7 {
  padding-right: 3.7rem;
}
.pr-3-8 {
  padding-right: 3.8rem;
}
.pr-3-9 {
  padding-right: 3.9rem;
}
.pr-4 {
  padding-right: 4rem;
}

/* Box-shadow */
/* Dark to white-gray */
.box-shadow-dark {
  -webkit-box-shadow: var(--box-shadow-dark);
  -moz-box-shadow: var(--box-shadow-dark);
  box-shadow: var(--box-shadow-dark);
}
.box-shadow {
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.box-shadow-white-grey {
  -webkit-box-shadow: var(--box-shadow-white-gray);
  -moz-box-shadow: var(--box-shadow-white-gray);
  box-shadow: var(--box-shadow-white-gray);
}
/* RGB */
.box-shadow-red {
  -webkit-box-shadow: var(--box-shadow-red);
  -moz-box-shadow: var(--box-shadow-red);
  box-shadow: var(--box-shadow-red);
}
.box-shadow-green {
  -webkit-box-shadow: var(--box-shadow-green);
  -moz-box-shadow: var(--box-shadow-green);
  box-shadow: var(--box-shadow-green);
}
.box-shadow-blue {
  -webkit-box-shadow: var(--box-shadow-blue);
  -moz-box-shadow: var(--box-shadow-blue);
  box-shadow: var(--box-shadow-blue);
}
/* Extra */
.box-shadow-purple {
  -webkit-box-shadow: var(--box-shadow-purple);
  -moz-box-shadow: var(--box-shadow-purple);
  box-shadow: var(--box-shadow-purple);
}
.box-shadow-orange {
  -webkit-box-shadow: var(--box-shadow-orange);
  -moz-box-shadow: var(--box-shadow-orange);
  box-shadow: var(--box-shadow-orange);
}
.box-shadow-pink {
  -webkit-box-shadow: var(--box-shadow-pink);
  -moz-box-shadow: var(--box-shadow-pink);
  box-shadow: var(--box-shadow-pink);
}
.box-shadow-light-blue {
  -webkit-box-shadow: var(--box-shadow-light-blue);
  -moz-box-shadow: var(--box-shadow-light-blue);
  box-shadow: var(--box-shadow-light-blue);
}

/* Font weight */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}


/* Responsive */
/* Mobile */
@media only screen and (max-width: 768px) {
  /* Container */
  .container {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  /* Align text */
  .sm-text-left {
    text-align: left;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-right {
    text-align: right;
  }
  .sm-text-end {
    text-align: end;
  }
  .sm-text-justify {
    text-align: justify;
  }
  .sm-text-start {
    text-align: start;
  }
  .sm-text-inherit {
    text-align: inherit;
  }
  .sm-text-initial {
    text-align: initial;
  }
  .sm-text-unset {
    text-align: unset;
  }
  /* Display */
  .sm-grid {
    display: grid;
  }
  .sm-flex {
    display: flex;
  }
  .sm-inline-flex {
    display: inline-flex
  }
  .sm-flexbox {
    display: flexbox
  }
  .sm-inline-flexbox {
    display: inline-flexbox
  }
  .sm-block {
    display: block
  }
  .sm-inline-block {
    display: inline-block
  }
  .sm-table {
    display: table
  }
  .sm-inline-table {
    display: inline-table
  }
  .sm-inline {
    display: inline;
  }
  .sm-hidden {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* Container */
  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  /* Align text */
  .md-text-left {
    text-align: left;
  }
  .md-text-center {
    text-align: center;
  }
  .md-text-right {
    text-align: right;
  }
  .md-text-end {
    text-align: end;
  }
  .md-text-justify {
    text-align: justify;
  }
  .md-text-start {
    text-align: start;
  }
  .md-text-inherit {
    text-align: inherit;
  }
  .md-text-initial {
    text-align: initial;
  }
  .md-text-unset {
    text-align: unset;
  }
  /* Display */
  .md-grid {
    display: grid;
  }
  .md-flex {
    display: flex;
  }
  .md-inline-flex {
    display: inline-flex
  }
  .md-flexbox {
    display: flexbox
  }
  .md-inline-flexbox {
    display: inline-flexbox
  }
  .md-block {
    display: block
  }
  .md-inline-block {
    display: inline-block
  }
  .md-table {
    display: table
  }
  .md-inline-table {
    display: inline-table
  }
  .md-inline {
    display: inline;
  }
  .md-hidden {
    display: none;
  }
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Container */
  .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  /* Align text */
  .lg-text-left {
    text-align: left;
  }
  .lg-text-center {
    text-align: center;
  }
  .lg-text-right {
    text-align: right;
  }
  .lg-text-end {
    text-align: end;
  }
  .lg-text-justify {
    text-align: justify;
  }
  .lg-text-start {
    text-align: start;
  }
  .lg-text-inherit {
    text-align: inherit;
  }
  .lg-text-initial {
    text-align: initial;
  }
  .lg-text-unset {
    text-align: unset;
  }
  /* Display */
  .lg-grid {
    display: grid;
  }
  .lg-flex {
    display: flex;
  }
  .lg-inline-flex {
    display: inline-flex
  }
  .lg-flexbox {
    display: flexbox
  }
  .lg-inline-flexbox {
    display: inline-flexbox
  }
  .lg-block {
    display: block
  }
  .lg-inline-block {
    display: inline-block
  }
  .lg-table {
    display: table
  }
  .lg-inline-table {
    display: inline-table
  }
  .lg-inline {
    display: inline;
  }
  .lg-hidden {
    display: none;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Container */
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  /* Align text */
  .xl-text-left {
    text-align: left;
  }
  .xl-text-center {
    text-align: center;
  }
  .xl-text-right {
    text-align: right;
  }
  .xl-text-end {
    text-align: end;
  }
  .xl-text-justify {
    text-align: justify;
  }
  .xl-text-start {
    text-align: start;
  }
  .xl-text-inherit {
    text-align: inherit;
  }
  .xl-text-initial {
    text-align: initial;
  }
  .xl-text-unset {
    text-align: unset;
  }
  /* Display */
  .xl-grid {
    display: grid;
  }
  .xl-flex {
    display: flex;
  }
  .xl-inline-flex {
    display: inline-flex
  }
  .xl-flexbox {
    display: flexbox
  }
  .xl-inline-flexbox {
    display: inline-flexbox
  }
  .xl-block {
    display: block
  }
  .xl-inline-block {
    display: inline-block
  }
  .xl-table {
    display: table
  }
  .xl-inline-table {
    display: inline-table
  }
  .xl-inline {
    display: inline;
  }
  .xl-hidden {
    display: none;
  }
}